[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "gapbs"]
	path = gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "GABPS-branch-analysis"]
	path = GABPS-branch-analysis
	url = git@github.com:AhmedSamara/GABPS-branch-analysis.git
